body{
    padding: 100px;
}
.color{
    color:orange;
}
.bank-item{
    text-align: center;
}
 .sumitted-area{
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

 }
 #transcation{
    display: none;
 }
 .deposit{
    background-color: blue;
 }
 .withdrow{
    background-color: rgb(202, 104, 104);
 }
 .balance{
    background-color: orange;
 }
 .state{
    margin: 0 20px;
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
 } 